<form class="{{cssClass}} companion-item item-form flexcol" autocomplete="off">
	<header class="sheet-header flexrow">
		<div class="cell--image">
			<img class="profile-img" src="{{item.img}}" data-edit="img" />
		</div>
		<div class="header-fields">
			<h1>{{localize "FELLOWSHIP.CompanionSheet.name.label"}}</h1>
			<h1 class="charname"><input
					name="name"
					type="text"
					value="{{item.name}}"
					placeholder="{{localize 'PBTA.Common.Name'}}"
				/></h1>
		</div>
	</header>
	{{! Sheet Body }}
	<section class="sheet-body">
		<div class="form-group-stacked">
			<h2 class="cell__title"><label>{{localize "FELLOWSHIP.CompanionSheet.type.label"}}</label></h2>
			<input
				type="text"
				name="system.typeName"
				value="{{system.typeName}}"
				data-dtype="String"
			/>
		</div>
		<div class="form-group-stacked">
			<h2 class="cell__title"><label>{{localize "FELLOWSHIP.CompanionSheet.type.description"}}</label></h2>
			<textarea
				type="text"
				name="system.typeDescription"
				value="{{system.typeDescription}}"
				data-dtype="String"
			>{{system.typeDescription}}</textarea>
		</div>
		<div class="form-group">
			<h2><label><input
				type="checkbox"
				name="system.inDespair"
				{{checked system.inDespair}}
			/>{{localize "FELLOWSHIP.CompanionSheet.despair.label"}}</label></h2>
		</div>
		<br />
		<h2 class="cell__title">
			<label class="item-group-label">{{localize
					"FELLOWSHIP.CompanionSheet.stats.label"
				}}</label>
			<div class="destiny-modify">
				<button type="button" class="item-add" data-companion-action="add">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</h2>
		<div class="item-group">
			{{#each system.stats}}
				<div class="flexrow">
					<input
						type="text"
						name="system.stats.{{@key}}.name"
						value="{{this.name}}"
					/>
					<input
						type="checkbox"
						name="system.stats.{{@key}}.damaged"
						{{checked this.damaged}}
					/>
					<a
						class="item-delete"
						data-companion-id={{@key}}
						data-companion-action="delete"
						title="delete"
					><i class="fas fa-trash"></i></a>
				</div>
			{{/each}}
		</div>
	</section>
</form>