<form class='{{cssClass}} item-form flexcol' autocomplete='off'>
  <header class="sheet-header flexrow">
      <div class="cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" />
      </div>
      <div class="header-fields">
          <h3>Name</h3>
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
      </div>
  </header>
  {{! Sheet Body }}
  <section class='sheet-body'>
    <div class="form-group-stacked">
      <label>Description</label>
      <textarea type="text" name="system.description" value="{{system.description}}" data-dtype="String">{{system.description}}</textarea>
    </div>
  </section>
</form>