<div class="tab description" data-group="primary" data-tab="description">
	<div class="sheet-tab">
		<div class="column">
			<button 
				type="button" 
				class="open-journal" 
				data-journaluuid="Compendium.fellowship-pbta.overlord.JournalEntry.Wspo5QWJyqQdielu" 
				data-pageid="3BcoC6S5r2eEyt4P">
				<i class="fa-solid fa-eye"></i>{{localize "FELLOWSHIP.OverlordSheet.principles.button"}}
			</button>
			<button 
				type="button" 
				class="open-journal" 
				data-journaluuid="Compendium.fellowship-pbta.overlord.JournalEntry.Wspo5QWJyqQdielu" 
				data-pageid="ij0dViFGsXmi0w57">
				<i class="fa-solid fa-eye"></i>{{localize "FELLOWSHIP.OverlordSheet.masterPlan.button"}}
			</button>
			<div class="cell--f-item">
				<h2 class="cell__title">
					<label class="item-group-label">
						{{localize "FELLOWSHIP.OverlordSheet.masterPlan.label"}}
					</label>
					<div class="item-controls">
						<button
							type="button"
							class="item-control item-create"
							data-type="fellowship-pbta.plan"
							data-plan-type="plan"
						>
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</h2>
				<ol class="items-list">
					{{#each actor.plans as |plan planKey|}}
						<li class="item flexcol" draggable="true" data-item-id="{{plan._id}}">
							<div class="flexrow">
								<h2 class="item-name">{{plan.name}}</h2>
								<div class="item-controls">
									<a class="item-control item-edit" title="Edit Item">
										<i class="fas fa-edit"></i>
									</a>
									<a class="item-control item-delete" title="Delete Item">
										<i class="fas fa-trash"></i>
									</a>
								</div>
							</div>
							<div class="flexcol">
								<div class="flexrow stage">
									<input
										type="checkbox"
										class="plan-update"
										data-action="create"
										data-value={{plan.system.create}}
										{{checked plan.system.create}}
									/>
									<div class="flexcol">
										<b>{{localize "FELLOWSHIP.PlanSheet.stage.0.label"}}</b>
										{{{plan.system.toDestroy}}}
									</div>
								</div>
								<div class="flexrow stage">
									<input
										type="checkbox"
										class="plan-update"
										data-action="begin"
										data-value={{plan.system.begin}}
										{{checked plan.system.begin}}
									/>
									<div class="flexcol">
										<b>{{localize "FELLOWSHIP.PlanSheet.stage.1.label"}}</b>
									</div>
								</div>
								<div class="flexrow stage">
									<input
										type="checkbox"
										class="plan-update"
										data-action="execute"
										data-value={{plan.system.execute}}
										{{checked plan.system.execute}}
									/>
									<div class="flexcol">
										<b>{{localize "FELLOWSHIP.PlanSheet.stage.2.label"}}</b>
									</div>
								</div>
								<div class="flexrow stage">
									<input
										type="checkbox"
										class="plan-update"
										data-action="victory"
										data-value={{plan.system.victory}}
										{{checked plan.system.victory}}
									/>
									<div class="flexcol">
										<b>{{localize "FELLOWSHIP.PlanSheet.stage.3.label"}}</b>
									</div>
								</div>
							</div>
						</li>
					{{/each}}
				</ol>
			</div>
		</div>
		<div class="column">
			<button 
				type="button" 
				class="open-journal" 
				data-journaluuid="Compendium.fellowship-pbta.overlord.JournalEntry.Wspo5QWJyqQdielu" 
				data-pageid="PBTrM0AWIri4ICZJ">
				<i class="fa-solid fa-eye"></i>{{localize "FELLOWSHIP.OverlordSheet.cuts.button"}}
			</button>
			<div>
				<label class="cell__title">{{localize "FELLOWSHIP.OverlordSheet.attr.extraCut.label"}}</label>
				{{#if actor.agenda.extraCut}}
					{{actor.agenda.extraCut}}
				{{else}}
					{{{localize "FELLOWSHIP.OverlordSheet.attr.extraCut.default"}}}
				{{/if}}
			</div>
			<div>
				<label class="cell__title">{{localize "FELLOWSHIP.OverlordSheet.attr.secretReason.label"}}</label>
				<p>{{localize "FELLOWSHIP.OverlordSheet.attr.secretReason.description"}}</p>
				<button 
					type="button" 
					class="add-secret" >
					<i class="fa-solid fa-square-plus"></i>{{localize "FELLOWSHIP.OverlordSheet.attr.secretReason.button"}}
				</button>
				{{actor.system.attributes.secretReason.value}}
			</div>
		</div>
		{{#each system.details as |result key|}}
			<div class="cell cell--bio {{key}}">
				{{#if result.label}}<label class="cell__title">{{result.label}}</label>{{/if}}
				{{editor result.enriched target=(concat "system.details" key "value" join=".") button=true owner=@root.owner editable=@root.editable engine="prosemirror" collaborate=false}}
			</div>
		{{/each}}
	</div>
</div>